body{
font-family:Arial;
margin:0;
}

.bg{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
animation:slideBg 20s infinite;
background-size:cover;
background-position:center;
}

@keyframes slideBg{

0%{
background-image:url("/static/images/women1.png");
}

25%{
background-image:url("/static/images/women2.png");
}

50%{
background-image:url("/static/images/women3.png");
}

75%{
background-image:url("/static/images/women4.png");
}

100%{
background-image:url("/static/images/women1.png");
}

}

.card{
background:rgba(255,255,255,0.9);
padding:40px;
width:420px;
border-radius:10px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

textarea{
width:100%;
height:100px;
}

button{
background:#ff4d88;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
}

.report{
background:#cc3366;
}
